body {
	font-size: 14px
	color: transparent;
	margin: 20px;
	padding: 20px;
}

h1{
	color: black;
	background-color: white;
	align-content: center;
}
div{
	padding: 20px;
	margin: 20px;
	text-align: center;
}